# This is Sephix system-wide configuration file.

cli
{
	# Maximum number of program arguments (argc); this limit is intended to
	# make stack smashing harder
	#max-arg-count = 256

	# Maximum length for each program argument (--foo=bar); this limit is
	# intended to make stack smashing harder
	#max-arg-len = 4096
}
